<div class="posting">
  <%= form_for(@post) do |f| %>
    <div><%= f.text_field :title, placeholder: "제목을 입력하세요" %></div>
    <br>
    <div><%= f.text_area :content, :rows => '20', :cols => '50', placeholder: "내용을 입력하세요" %></div>
    <%= f.submit '제출' %>
  <% end %>
</div>